body {
padding: 0;
margin: 0;
box-sizing: border-box;
background-color: #eee;
}

.nav {
    background-color: #333;
    text-align: center;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav > a {
text-decoration: none;
color: white;
font-size: 1rem;
padding: 14px;
}

.main {
    height: 100%;
background-color: white;
box-shadow: 0px 0px 10px #eee;
width: 50%;
position: relative;
left: 22%;
right: 22%;
margin-top: 20px;
padding: 50px;
}

.main-content > h1 {
    text-align: center;
    padding-top: 30px;
}

.main-content > p{
text-align: center;
}

.contents {
    padding:30px;
    margin:30px;
    display:grid;
    row-gap: 20px;
}


footer {
    text-align: center;
   
}










































